




.logo {
    width: 150px;
}

.iconoLupa {
    width: 50px;
    
}

.iconoAyuda {
    width: 50px;
    
}

.iconoTienda {
    width: 50px;
    
}

.iconoCuenta {
    width: 50px;
    
}

.iconoCesta {
    width: 50px;
    
}